{% extends "base.html" %}
{% block content %}
    <div>
        <h2>Who's hungry?</h2>
        <p>
            Things can get tricky when you're cooking for a crowd. How many humans do you need to feed?
        </p>
        <p>
            <div>
                <form action="/" method="POST">
                    <input type="number" name="adults" placeholder="Adults...">
                    <input type="number" name="children" placeholder="Children...">
                    <button>Let's cook!</button>
                </form>
            </div>
        </p>
    </div>
{% endblock %}